// Material Buttons Classes, contains Raised, Flat and FAB

// Raised
.material-button
  display: inline-block
  position: relative
  height: auto
  padding: 10px
  margin: 0 0 10px 0
  border-radius: 4.5px
  font-family: $font-face
  text-decoration: none
  text-align: center
  line-height: 30px
  color: darken($accent-color, 25%)
  background-color: $accent-color
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1), 0 2px 3px 0 rgba(0,0,0,0.2)
  transition: all .2s ease-in-out

  &:hover
    background: lighten($accent-color, 10%)
    box-shadow: 0 6px 13px 0 rgba(0,0,0,0.2), 0 8px 18px 0 rgba(0,0,0,0.2)
    z-index: 2

  &:active
    box-shadow: 0 15px 25px 0 rgba(0,0,0,0.2), 0 20px 35px 0 rgba(0,0,0,0.2)
  

  // Flat
  &.flat
    padding: 5px
    min-width: 0px
    background: transparent
    box-shadow: none
    font-weight: 400
    color: darken($main-color, 26%)

    &:hover
      background: rgba(0,0,0,0.1)


.fab
  position: fixed
  padding: 10px
  width: 35px
  height: 35px
  background-color: #EEFF41
  border-radius: 100%
  bottom: 0
  right: 0
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1), 0 2px 3px 0 rgba(0,0,0,0.2)
  opacity: 1
  transition: all .2s cubic-bezier(.4,.08,.14,.82)

  &:active
    +zdepth(3)

  &.copy
    margin: 0 20px 20px 0
  
  &.hide
    opacity: 0 !important
    transform: scale(0) !important
  
  i
    position: relative
    color: rgba(0,0,0,0.6)
    +center()